name: Unit Tests

on:
  push:
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4

      - name: Set up Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Create .env file
        run: |
          cat <<EOF > .env
          JWT_SECRET=${{ secrets.JWT_SECRET }}
          CLOUDFLARE_R2_ACCESS_KEY=test
          CLOUDFLARE_R2_SECRET_KEY=test
          CLOUDFLARE_R2_BUCKET_NAME=test
          CLOUDFLARE_R2_ENDPOINT=test
          CLOUDFLARE_R2_PUBLIC_ENDPOINT=test
          EOF

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Run unit tests with H2 profile
        run: ./gradlew test
